/*==== GLOBAL =====*/

html {
   scroll-behavior: smooth;
}

body {
   font-family: $body-font;
}

p {
   font-size: $p-font-size;
   line-height: 1.5em;
}

h1 {
   font-family: $heading-font;
   font-weight: 400;
   text-transform: uppercase;
   font-size: $h1-font-size;
}

h2 {
   font-size: $h2-font-size;
   font-family: $heading-font;
   font-weight: 400;
   text-transform: uppercase;
   padding-bottom: 1.8em;
}

h3 {
   font-family: $body-font;
}

i {
   font-size: 3em;
   color: $first-color;
}

.wrapper {
   width: 80vw;
   margin: 0 auto;
   padding-top: 2em;
   padding-bottom: 2em;
}

.img-fluid {
   max-width: 80%;
   height: auto;
}

@media screen and (min-width:800px) {
   .wrapper {
      width: 960px;
      padding: 2em;
   }

   .img-fluid {
      max-width: 100%;
      height: auto;
   }

}