/*==== MAIN =====*/

body {
   background-color: $second-color;
   color: $third-color;
}

h2 {
   color: $first-color;
   text-align: center;
}

form {
   text-align: center;
}

input {
   width: 65%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

input[type=submit] {
   width: 20%;
   background-color: $first-color;
}


@media screen and (min-width: 800px) {
   .grid-container {
      display: grid;
      grid-gap: 3em;
   }
   
   .col-2 {
      grid-template-columns: repeat(2,1fr);
   }

   .col-3 {
      grid-template-columns: repeat(3,1fr);
   }
}



