/*==== MAIN =====*/
body {
   background-color: $second-color;
   color: $third-color;
}

h2 {
   color: $first-color;
   text-align: center;
}

form {
   text-align: center;
}

input {
   width: 65%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

input[type=submit] {
   width: 20%;
   background-color: $first-color;
}

.box {
   border-style: solid;
   border-width: 0.2em;
   border-color: $fifth-color;
   padding-left: 2em;
   padding-right: 2em;
}

.box2 {
   border-style: solid;
   border-width: 0.2em;
   border-color: $fifth-color;
   padding: 1em 1em;
   .box2-header {
      text-align: center;
   }
}

.grid-container {
   display: grid;
   grid-gap: 1em;
}

.col-2 {
   grid-template-columns: 1fr;
}

.col-3 {
   grid-template-columns: 1fr;
}

#section1 {
   padding-bottom: 8em;
   min-height: 50vh;
}

#section2 {
   padding-bottom: 5em;
   min-height: 50vh;
}

#section3 {
   padding-top: 5em;
   min-height: 50vh;
}

#section4 {
   padding-bottom: 5em;
   min-height: 50vh;
}

#book-button-container {
   position: relative;
   background-image: url(../img/scissors.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 30vh;
}

#book-button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: $first-color;
   text-decoration: none;
   text-transform: uppercase;
   color: $second-color;
   border-style: solid;
   border-width: 0.2em;
   padding: 1em 2em;
   box-shadow: 5px 8px 25px $second-color;
   &:hover {
      background-color: $fifth-color;
      color: $third-color;
   }
}

#champagne {
   width: 100%;
}


@media screen and (min-width: 800px) {

   .col-2 {
      grid-template-columns: repeat(2,1fr);
   }

   .col-3 {
      grid-template-columns: repeat(3,1fr);
   }

   #book-button-container {
      min-height: unset;
   }
}



