/*==== NAVBAR =====*/
nav {
   position:fixed;
   top: 0; 
   left: 0;
   width: 100%;
   z-index: 1000;
   background-color: $sixth-color;
   ul {
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: space-between;
      text-align: center;
      li {
         display: inline;
         a {
            display:inline-block;
            padding: 1em; 
            color: $first-color;
            text-decoration: none; 
            text-transform: uppercase;
            &:hover:not(.no-hover) {
            color: $fifth-color; 
            }
            img {
               height: 6em;
               width: auto;
               vertical-align: middle;
            }         
         } 
      }
   }
}


#menu-icon {
   float: right;
   display: block;
}

.topnav.dropped ul li a {
   display: block;
   float: none;
}

.topnav.dropped #menu-icon {
   position: absolute;
   right: 0;
   top: 0;
}

.topnav ul li a {
   display: none;
}

@media screen and (min-width: 960px) {

   #menu-icon {
      display: none;
   }

   .topnav ul li a {
      display: inline-block;
   }
}
  
