@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

$first-color: #E7BFA2;
$second-color: #23160D;
$third-color: #F0E4DB;
$fourth-color: #51392A;
$fifth-color: #597273;

$body-font: "Didact+Gothic", arial, sans-serif;
$heading-font: "Playfair+Display", serif;


$p-font-size: 1em;
$h2-font-size: 1.5625em;
$h1-font-size: 2.1875em;